<nav>
  <%= link_to "", root_path, class:"logo" %>
  <div class="container">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ARCHIVE</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <%= form_tag("/search", method: "get") do %>
            <%= text_field_tag(:q, '',{ class:'search', placeholder: 'Search...' }) %>
            <%= submit_tag("Search", class:'submit') %>
        <% end %>
        <div class="unnamed"></div>
        </div>
</nav>