.quote-post{
  width: 720px;
  height: 138px;
  border-radius: 3px;
  font-size: 24px;
  padding: 90px 90px 90px 90px;
  background-image:url(quote.png);
  color:#fff;
  margin-bottom: 100px;
}

.thin{
  font-weight:300;
  margin-bottom:20px;
}